# Lecture 8 python

반복문을 이용하게 될 때 리스트를 반복조건으로 할 수 있습니다.  
다음의 코드를 이용해 방법을 익혀보세요 반복횟수는 리스트의 길이(값의 갯수)입니다.

해당 코드를 동작하면 리스트의 원소 하나씩을 뺴서 i의 값이 됩니다.

In [1]:
A=[3,4,1,8,5,8,2,2,1,10,11]

for i in A:
    print(i)

3
4
1
8
5
8
2
2
1
10
11

### 8-1

0부터 10까지 값이 있는 리스트와  
100부터 90까지 있는 리스트를 선언하고  
두 리스트를 합치세요 그리고 출력하세요

In [2]:
a=[0,1,2,3,4,5,6,7,8,9,10]
b=[100,99,98,97,96,95,94,93,92,91,90]

# 합친뒤 출력하세요

### 8-2
리스트에 다음과 같이 사용하면 리스트를 분해 할 수 있습니다.이것을 슬라이싱 이라고 합니다.  
1번부터 100번까지의 배열을 만듭니다.  
이것을 슬라이싱을 이용해 34~60 값이 있는 배열로 만드세요 그리고 출력하세요

In [5]:
A=[1,2,3,4,5,6,7,8,9]
print(A[0:3]) # 0번 인덱스부터 ~ 3번쨰 인덱스까지 

B=list(range(100))
print()#슬라이싱 한 뒤 출력하세요

[1, 2, 3]
[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

### 8-3
딕셔너리를 이용하여 다음의 데이터를 가지도록 프로그래밍 하세요
a = 에이  
b = 비  
c = 씨  
d = 디  
e = 이  
f = 에프  

그리고 출력하세요

In [9]:
D={"a":"에이"}#나머지 값들도 채워넣으세요 

print(dic)

{'a': '에이'}

### 8-4
다음과 같은 물건들이 있고 가격이 있을때 이 값들을 딕셔너리에 저장하세요  

그리고 딕셔너리를 출력하고 딕셔너리에 저장된 값을 이용해 모든 물건의 값의 합을 출력하세요  
수작업이 아닌 코드로 작성해야 합니다  
프링글스 2500원  
치약 3000원  
사탕 500원  
과자 1000원  
아이스크림 1500원  
책 9900원  
음료수 1200원

In [19]:
D={'프링글스':2500,'치약':3000,'사탕':500,'과자':1000,'아이스크림':1500,'책':9900,'음료수':1200}

for i in D.values():
    print(i)# 이 값들을 하나씩 합쳐서 하나의 변수에 저장하세요 
    
print()#합을 출력하세요

2500
3000
500
1000
1500
9900
1200

### 8-5
A에 들어있는 값들에 대해 중복을 제거한 후 각 값들이 고유한 번호화 매핑되도록 딕셔너리로 만드세요  
수작업이 아닌 코드로 작성해야 합니다  
ex)  
우유 : 1  
치킨 : 2

In [5]:
#딕셔너리에 새로운 값을 추가하는 방법은 다음과 같습니다.

D={}# 딕셔너리 생성
D['test']=1#test와 1을 매핑
D['set']=2#set과 2를 매핑
print(D)

{'test': 1, 'set': 2}

In [4]:
A=["우유","치킨","피자","초콜릿","콜라","치킨","핫도그","햄버거","치킨","피자","콜라"]

B=set(A)#set()을 사용하게되면 인자로 받은 값을 집합으로 만들게 됩니다.

C={}
number=0
for i in B:
    #i는 str값입니다 이 값을 이용해 number와 매핑시키세요 []를 이용하시면 됩니다. 
    number+=1
    
print(C)

{'치킨': 0, '피자': 1, '콜라': 2, '우유': 3, '초콜릿': 4, '햄버거': 5, '핫도그': 6}